* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(222, 184, 135);
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
    background-color: rgb(222, 184, 135);
    z-index: 999;
}

#navbar {
    font-size: 28px;
}

#navbar:hover {
    color: rgb(138, 154, 91);
    transition: all 0.4s ease 0%;
}


#video__content {
    width: auto;
    height: 600px;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#aventura_image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 600px;
    filter: brightness(50%);
    object-fit: cover;
}

.logo img {
    height: 110px;
    width: 230px;
    mix-blend-mode: multiply;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.5s;
    font-family: 'Snell Roundhand', sans-serif;
}

.site-logo {
    float: left;
    padding: 17px 0px;
}

.mobile-nav {
    display: none;
}

.site-nav-menu {
    float: right;
}

.primary-menu {
    list-style: none;
}

.primary-menu li {
    display: inline-block;
    margin: 21px 5px;
}

.primary-menu a {
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 10px;
    font-size: 18px;
    transition: .5s;
}

.primary-menu a:hover,
.primary-menu .active {
    color: rgb(138, 154, 91);
}

.primary-menu li a:hover:after {
    width: 100%;
}

.primary-menu li .active:after {
    width: 100%;
}

.mobile-nav {
    float: right;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
}

/* ------------------------------------------------- Main Container --------------------------------------------------- */

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

button {
    background-color: rgb(176, 142, 107);
    border: 2px solid white;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

button:active,
button:hover {
    outline: 0;
}

.filterDiv {
    color: rgb(255, 255, 255);
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
    /* Hidden by default */
}

.show {
    display: flex;
}

#myBtnContainer {
    margin: 20px;
    padding: 0;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rotate_video{
    transform: rotate(-90deg);
    height: 100%;
    object-fit: fill;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 50% 50%;
    cursor: pointer;
}

.w-3 {
    grid-column: span 2;
    grid-row: span 2;
}

@media screen and (max-width:700px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .w-1,
    .w-2,
    .w-3,
    .w-4,
    .w-5,
    .w-6 {
        grid-column: span 1;
    }
}

@media only screen and (max-width: 1048px) {
    .btn {
        margin-top: 7px;
    }
}

@media only screen and (max-width: 1280px) {
    .site-nav-menu {
        float: none;
        position: absolute;
        background: rgb(111, 78, 55);
        width: 100%;
        left: 0;
        top: 173px;
        padding: 30px 0px 50px 0px;
        clip-path: circle(0% at 100% 0%);
        transition: all .8s;
    }

    .primary-menu li {
        display: block;
        text-align: center;
        margin-left: 40%;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-menu {
        clip-path: circle(90% at 100% 10%);
    }

    .primary-menu li a:after {
        display: none;
    }
}


@keyframes move-down {

    0% {
        top: 10%;
    }

    50% {
        top: 35%;
    }

    100% {
        top: 50%;
    }
}

.h-3::after {
    grid-row: span 3;
}